body {
  font: 16px 'Open Sans', sans-serif;
  background: none repeat scroll 0% 0% #ffffff;
  padding: 50px 0px 0px 0px;
  overflow-x: hidden;
  
}

a {
  color: #333333;
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
  background-color: transparent;
  border-color: #ffffff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-toggle {
  font-size: 16px;
  line-height: 35px;
  color: #ffffff;
}

.dropdown-toggle:hover {
  color: #ffffff;
}

.stack-nav {
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top,#222,#111);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));
    background-image: -webkit-linear-gradient(top,#222,#111);
    background-image: -o-linear-gradient(top,#222,#111);
    background-image: linear-gradient(to bottom,#222,#111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
    padding:8px 0px 0px 0px;
}

.stack-brand {
  margin:6px 0px 0px 0px;
}

.stack-navbar-user-data {
  text-transform:uppercase;
  padding-top:10px;
  text-align: right;
  color:#ffffff;
  font-size: 12px;
}

.stack-navbar-user-data a {
  color:#ffffff;
}

.stack-subheader {
  padding:0px 0px 0px 15px;
  border-bottom: 1px solid #e5e5e5;
}

.stack-subheader h1 {
  font-size:18px;
  font-weight: bold;
  color:#333;
}

.stack-subheader .stack-btn-panel {
  margin:10px;
}

.stack-content {
  margin:15px auto 0px auto;
}

.stack-grid-hdr {
 background-color: #f9f9f9;
 border-bottom: 1px solid #e5e5e5;
 padding:5px; 
}

.stack-grid-wrapper{
}

.stack-grid-txt {
  color:#5c89e2;
  font-weight: bold;
  font-size: 20px;
}

.stack-grid-strongTxt{
  color:#5c89e2;
  padding: 50px; 
  font-weight: bolder;
  font-size: 40px;
}

.gridster{ 
 }

 .gridster .gridster-item {
    border-radius: 1px;
   -webkit-transition: 0.1s;
    transition: 0.1s;
    /*box-shadow: 0 3px 1px rgba(0,0,0,0.15),0 0 0px 0px rgba(13,174,205,0.3);*/
    border: 1px solid #e5e5e5;
    background-color: #fff;

 }

  .gridster .gridster-item .grid-item-hdr{
    color: #333333;
    padding:10px 0px 0px 10px;
    font-weight: bold;
    text-align: center;
   /* border-bottom: 1px solid #d2d2d2;*/
    text-transform: uppercase;
 }
 
  .gridster .gridster-item .grid-item-txt{
    color: #333333;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size: 60px;
 }
 
 .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #f9f9f9;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #316ada;
    border-color: #2359c4;
}

 .btn-primary {
    color: #fff;
    background-color: #5c89e2;
    border-color: #4679de;
}

.stack-table-bordered {
    border: 1px solid #4e992f;
}
.stack-table-bordered > thead > tr > th, 
.stack-table-bordered > tbody > tr > th,
.stack-table-bordered > tfoot > tr > th, 
.stack-table-bordered > thead > tr > td, 
.stack-table-bordered > tbody > tr > td, 
.stack-table-bordered > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #4e992f;
}

.stack-table-bordered > tbody > tr > td.active {
 cursor: pointer;
 background-color: #71c84c;
}

.stack-table-bordered > tbody > tr > td.inactive {
 cursor: pointer;
 background-color: #ffffff;
}

.stack-table-bordered > tbody > tr > td:hover {
    background-color: #71c84c;
    border-color: #4e992f;
}

 .timezone-select {
    min-width: 350px;
 }