<div class="container-fluid stack-subheader">
    <div class="row">
        <div class="col-md-6">
            <h1>Dashboard</h1>
        </div>
        <div class="col-md-6">
            <div class="stack-btn-panel text-right">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid stack-content-dashboard">
    <div class="row">
        <div class="col-md-12">
            <div class="graph-list" gridster="gridsterOpts">
                <ul>
                    <li gridster-item ng-repeat="(key, value) in summary">
                        <div class="stack-grid-hdr text-uppercase">
                            <b>{{stripUnderscore(key)}}</b>
                        </div>
                        <div class="stack-grid-wrapper" ng-if="testSummaryObj(value) == 'object'">
                            <div class="row">
                                <div  class="col-md-7">
                                    <div id="{{key}}" class="svg-grap"></div>    
                                </div>
                                <div class="col-md-5">
                                    <div>In use: {{resourcesUsed(value)}}</div>
                                    <div>Remaining: {{resourcesLeft(value)}}</div>
                                    <div>Max Allowed: {{value.max}}</div>
                                </div>
                            </div>
                        </div>        
                        <div class="stack-grid-wrapper" ng-if="testSummaryObj(value)== 'number'">
                            <div class="text-center stack-grid-strongTxt"><span>{{value}}</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
