<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
      <div class="text-center" ng-include="'/app/views/common/hdrLogo.html'"></div>
      <div class="panel panel-default">
        <div class="panel-body" ng-cloak>
          <form  accept-charset="UTF-8" role="form"  id="signupForm" name="signupForm" method="post" data-ng-submit="singup(user)" novalidate>
            <div class="form-group">
              <h3>Free 30-day trail</h3>
              <h4>Create actstack account to get started.</h4>
              <p>Have an account? <a href="#/login" >Sign in!</a></p>
            </div>
            <div class="form-group" data-ng-class="{'has-error': signupForm.name.$invalid && signupForm.name.$dirty,'has-success': signupForm.name.$valid && signupForm.name.$dirty}">
              <label for="last name" class="control-label">Name</label>
               <input type="text" id="name" name="name" class="form-control" data-ng-model="user.name" placeholder="Name"  required />
              <p class="help-block" data-ng-show="signupForm.name.$error.required && signupForm.name.$dirty">Name is required.</p>
            </div>
            <div class="form-group" data-ng-class="{'has-error': signupForm.company.$invalid && signupForm.company.$dirty,'has-success': signupForm.company.$valid && signupForm.company.$dirty}">
              <label for="company" class="control-label">Company</label>
               <input type="text" id="company" name="company" class="form-control" data-ng-model="user.company" placeholder="Company"  required />
              <p class="help-block" data-ng-show="signupForm.name.$error.required && signupForm.name.$dirty">Company name is required.</p>
            </div>
            
            <div class="form-group" data-ng-class="{'has-error': signupForm.email.$invalid && signupForm.email.$dirty,'has-success': signupForm.email.$valid && signupForm.email.$dirty}">
              <label for="email" class="control-label">Email</label>
              <input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email"  required />
              <p class="help-block" data-ng-show="signupForm.email.$error.required && signupForm.email.$dirty">Email is required.</p>
			        <p class="help-block" ng-show="!signupForm.email.$error.required && signupForm.email.$error.email && signupForm.email.$dirty">Invalid Email</p>
            </div>

            <div class="form-group" data-ng-class="{'has-error': signupForm.password.$invalid && signupForm.password.$dirty,'has-success': signupForm.password.$valid && signupForm.password.$dirty}">
              <label for="password" class="control-label">New Password</label>
              <input type="password" id="password" name="password" class="form-control" data-ng-model="user.password" placeholder="New Password" ng-minlength="8" ng-maxlength="20"  required />
              <p class="help-block" data-ng-show="signupForm.password.$error.required && signupForm.password.$dirty">Password is required.</p>
              <p class="help-block"  ng-show="!signupForm.password.$error.required && (signupForm.password.$error.minlength || signupForm.password.$error.maxlength) && signupForm.password.$dirty">Passwords must be between 8 and 20 characters.</p>
            </div>
            <div class="text-right">
              <button type="submit" data-ng-disabled="signupForm.$invalid" id="submitButton" class="btn btn-success btn-large">Singup</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
