<div class="container-fluid stack-subheader">
  <div class="row">
    <div class="col-md-6">
      <h1>User Settings</h1>
    </div>
    <div class="col-md-6">
      <div class="act-btn-panel text-right"></div>
    </div>
  </div>
</div>

<div class="container stack-content">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Timezone</div>
          <div class="panel-body">
            <form class="form-horizontal" role="form" id="changePasswordForm" name="changePasswordForm" novalidate>
              <div class="form-group" data-ng-class="{'has-error': changePasswordForm.password.$invalid && changePasswordForm.password.$dirty,'has-success': changePasswordForm.password.$valid && changePasswordForm.password.$dirty}">
                <label class="col-sm-4 control-label">Timezone:</label>
                <div class="col-sm-8">
                  <input class="timezone-select" timezone-select data-ng-model="timezone" country="country">  
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-4 control-label"></label>
                <div class="col-sm-8 text-right">         
                  <a href="#/dashboard" class="btn btn-default">Cancel</a>
                  <button type="submit" class="btn btn-success" id="submitButton" ng-click="setTimzone()">Save</button>
                </div>
              </div>  
              
            </form>    
          </div>    
         </div>
        </div>
    </div>  
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Change Password</div>
            <div class="panel-body">
              <form class="form-horizontal" role="form" id="changePasswordForm" name="changePasswordForm" novalidate>
                <div class="form-group" data-ng-class="{'has-error': changePasswordForm.password.$invalid && changePasswordForm.password.$dirty,'has-success': changePasswordForm.password.$valid && changePasswordForm.password.$dirty}">
                  <label class="col-sm-4 control-label">Current Password:</label>
                  <div class="col-sm-8">
                    <input name="password" id="changePassword.password" data-ng-model="changePass.password" type="password" class="form-control" placeholder="" server-error required />
                    <p class="help-block" data-ng-show="changePasswordForm.password.$error.required && changePasswordForm.password.$dirty">Password is required.</p>
                    <p class="help-block" data-ng-show="changePasswordForm.password.$error.server && changePasswordForm.password.$dirty">Password entered is incorrect.</p>
                  </div>
                </div>
        
                <div class="form-group" data-ng-class="{'has-error': changePasswordForm.newPassword1.$invalid && changePasswordForm.newPassword1.$dirty,'has-success': changePasswordForm.newPassword1.$valid && changePasswordForm.newPassword1.$dirty}">
                  <label class="col-sm-4 control-label">New Password:</label>
                  <div class="col-sm-8">
                    <input name="newPassword1" id="changePassword.newPasswordOne" data-ng-model="changePassword.newPasswordOne" type="password" class="form-control" placeholder="" server-error required />
                    <p class="help-block" data-ng-show="changePasswordForm.newPasswordOne.$error.required && changePasswordForm.newPasswordOne.$dirty">New password is required.</p>
                  </div>
                </div>
        
                <div class="form-group" data-ng-class="{'has-error': changePasswordForm.newPasswordTwo.$invalid && changePasswordForm.newPasswordTwo.$dirty,'has-success': changePasswordForm.newPasswordTwo.$valid && changePasswordForm.newPasswordTwo.$dirty}">
                  <label class="col-sm-4 control-label">Verify Password:</label>
                  <div class="col-sm-8">
                    <input type="password" id="changePassword.newPasswordTwo" name="newPasswordTwo" class="form-control" data-ng-model="changePassword.newPasswordTwo" placeholder="" server-error required />
                    <p class="help-block" data-ng-show="changePasswordForm.newPasswordTwo.$invalid && changePasswordForm.newPasswordTwo.$dirty">Passwords entered do not match.</p>
                    <p class="help-block" data-ng-show="changePasswordForm.newPasswordTwo.$error.required && changePasswordForm.newPasswordTwo.$dirty">Valid password is required.</p>
                  </div>
                </div>
        
                <div class="form-group">
                  <label class="col-sm-4 control-label"></label>
                  <div class="col-sm-8 text-right">         
                    <a href="#/dashboard" class="btn btn-default">Cancel</a>
                    <button type="submit" data-ng-disabled="changePasswordForm.$invalid" class="btn btn-success" id="submitButton" ng-click="changePassword()">Save</button>
                  </div>
                </div> 
              </form> 
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>
