<form class="form-horizontal" name="action_form" role="form" novalidate>
  
  <div class="modal-header">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="modal-title">Edit Action</h4>
      </div>
      <div  class="col-sm-4">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
      </div>
    </div>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div ng-include="'app/views/actions/form.html'"></div>
    </div>
  </div>

  <div class="modal-footer">
	 <a class="btn" ng-click="cancel()">Cancel</a>
    <button type="button" class="btn btn-primary"  ng-disabled="action_form.$invalid" ng-click="eidt()">Edit Appliance</button>
  </div>

</form>
