<div class="form-group"
     data-ng-class="{'has-error': action_form.actionName.$invalid && action_form.actionName.$dirty,
    'has-success': action_form.actionName.$valid && action_form.actionName.$dirty}">
  <label class="col-sm-3 control-label" for="actionName">Name</label>
  <div class="col-sm-8">
    <input type="text" name="actionName" id="actionName" ng-maxlength=70 placeholder="Name" 
      ng-model="action.name" class="form-control" placeholder="Name" required />
    
    <p class="help-block" ng-show="appliance_form.actionName.$error.required && appliance_form.actionName.$dirty">
      Name is required.
    </p>
  
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label" for="action">Action</label>
  <div class="col-sm-8">
    <select ng-model="action.actionType" id="action" name="action" ng-options="option.name for option in actionOptions track by option.value" class="form-control">
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label" for="actionInstance">Instances</label>
  <div class="col-sm-8">
    <select ng-model="action.instance" id="actionInstance" name="actionInstance" 
      ng-options="option.instance for option in instances track by option.id" class="form-control">
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label" for="actionSchedule">Schedule</label>
  <div class="col-sm-8">
    <select ng-model="action.schedule" id="actionSchedule" name="actionSchedule" 
      ng-options="option.name for option in schedules track by option.id" class="form-control">
    </select>
  </div>
</div>

