<div class="container-fluid stack-subheader">
    <div class="row">
      <div class="col-md-6">  
        <h1>Edit Schedule</h1>
      </div>
      <div class="col-md-6">
      </div>
    </div>
</div>

<div class="container stack-content">
  <div class="row">
     <div class="col-md-8">
        <form  class="form-horizontal" accept-charset="UTF-8" method="post" data-ng-submit="update(schedule)" novalidate>
          <div ng-include="'app/views/schedules/form.html'"></div> 
        </form>   
      </div>
    </div>
  </div>
</div>  

