        <div class="form-group">
          <label class="col-sm-4 control-label" for="name">Name</label>
          <div class="col-sm-8">
            <input type="text" ng-model="schedule.name" class="form-control" id="name" placeholder="Name" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label" for="reccurence">Reccurence</label>
          <div class="col-sm-8">
            <select id="reccurence" ng-model="schedule.recurrence" name="reccurence" 
            ng-options="option.value for option in recurrenceOptions track by option.value" 
            ng-change="selectRecurrenceType()" class="form-control">
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label" for="dayHour">Time</label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <select id="dayHour" ng-model="schedule.dayHour" class="form-control" 
                    ng-options="option.value for option in hourOptions track by option.value">
                    </select>                  
                  </div>
                  <div class="col-sm-6">
                    <select id="dayMinute"  ng-model="schedule.dayMinute" class="form-control" 
                    ng-options="option.value for option in minuteOptions track by option.value">
                    </select>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 

        <div class="form-group" ng-if="showDayContainer">
          <label class="col-sm-4 control-label" for="day">Day</label>
          <div class="col-sm-8">
            <p class="help-block">Run on the selected week day.</p>
             <table id="month-weekday" class="table stack-table-bordered">
               <td class="text-center" id="sun"    ng-click="selectWeekDay('sun')">SUN</td>              
               <td class="text-center" id="mon"    ng-click="selectWeekDay('mon')">MON</td>              
               <td class="text-center" id="tues"   ng-click="selectWeekDay('tue')">TUE</td>              
               <td class="text-center" id="wed"    ng-click="selectWeekDay('wed')">WED</td>              
               <td class="text-center" id="thu"    ng-click="selectWeekDay('thur')">THU</td>              
               <td class="text-center" id="fri"    ng-click="selectWeekDay('fri')">FRI</td> 
              </tr>
            </table>
          </div>
        </div> 

        <div class="form-group" ng-if="showDatesContainer">
          <label class="col-sm-4 control-label" for="week">Dates</label>
          <div class="col-sm-8">
            <p class="help-block">Run on the selected dates.</p> 
            <table id="month-calendar" class="table stack-table-bordered">
              <tr class="table-row"><td class="text-center" id="{{day}}" ng-class="{true: 'active', false: 'inactive'}[isActive]"  ng-click="selectDate(day)" ng-repeat="day in range(1,7)" >{{day}}</td></tr>
              <tr class="table-row"><td class="text-center" id="{{day}}" ng-class="{true: 'active', false: 'inactive'}[isActive]"  ng-click="selectDate(day)" ng-repeat="day in range(8,14)">{{day}}</td></tr>
              <tr class="table-row"><td class="text-center" id="{{day}}" ng-class="{true: 'active', false: 'inactive'}[isActive]"  ng-click="selectDate(day)" ng-repeat="day in range(15,21)">{{day}}</td></tr>
              <tr class="table-row"><td class="text-center" id="{{day}}" ng-class="{true: 'active', false: 'inactive'}[isActive]"  ng-click="selectDate(day)" ng-repeat="day in range(22,28)">{{day}}</td></tr>
              <tr class="table-row"><td class="text-center" id="{{day}}" ng-class="{true: 'active', false: 'inactive'}[isActive]"  ng-click="selectDate(day)" ng-repeat="day in range(29,31)">{{day}}</td>
                <td colspan="4" >&nbsp;</td>
              </tr>
            </table>
          </div>
        </div> 

        <div class="form-group">
          <label class="col-sm-4 control-label"></label>
          <div class="col-sm-8 text-right">
            <a href="#/schedules" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>