<div class="modal-header">
    <h3>Remove Schedule</h3>
</div>
<div class="modal-body">
    <p>Are you sure you wish to permanently remove the schedule {{schedule.name}}?</p>
</div>
<div class="modal-footer">
	<a  class="btn btn-default" data-ng-click="cancel()">Cancel</a>
	<button class="btn btn-primary" data-ng-click="ok()">Ok</button> 
</div>
