<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4  col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
      <div class="text-center" ng-include="'/app/views/common/hdrLogo.html'"></div>
      <div class="panel panel-default">
        <div class="panel-body" ng-cloak>
          <div data-ng-show="logoutMessage" class="alert alert-warning ng-hide" role="alert">
            You have successfully logged out.
          </div>
          
          <div data-ng-show="changePassMessage" class="alert alert-warning ng-hide" role="alert">
            Your password was successfully changed. Please login again using the new password.
          </div>
          
          <div data-ng-show="wrongCredentials" class="alert alert-danger ng-hide" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            The email or password you have entered is invalid.
          </div>
          
          <form  accept-charset="UTF-8" role="form"  id="loginForm" name="loginForm" method="post" data-ng-submit="login(user)" novalidate>
            <div class="form-group" data-ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty,'has-success': loginForm.email.$valid && loginForm.email.$dirty}">
              <label for="email" class="control-label">Email</label>
              <input type="text" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email"  required />
              <p class="help-block" data-ng-show="loginForm.email.$error.required && loginForm.email.$dirty">Email is required.</p>
            </div>

            <div class="form-group" data-ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty,'has-success': loginForm.password.$valid && loginForm.password.$dirty}">
              <label for="password" class="control-label">Password</label>
              <input type="password" id="password" name="password" class="form-control" data-ng-model="user.password" placeholder="Password" required />
              <p class="help-block" data-ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Password is required.</p>
            </div>
            <div class="row">
              <div class="col-md-6 text-left"><a id='forgotPassword'class="btn-link" style="cursor:pointer" data-toggle="modal" data-ng-click="resetPassword()">Forgot password?</a> </div>
              <div class="col-md-6 text-right"> <button type="submit" data-ng-disabled="loginForm.$invalid" id="submitButton" class="btn btn-primary">Login</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
