 <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    data-ng-click="close()">&times;</button>
            <h3>Reset Password</h3>
        </div>
     <form accept-charset="UTF-8" role="form" id="resetPasswordForm" name="resetPasswordForm" method="post" novalidate>
        <div class="modal-body">
            <div class="form-group" data-ng-class="{'has-error': resetPasswordForm.txtEmail.$invalid && resetPasswordForm.txtEmail.$dirty,'has-success': resetPasswordForm.txtEmail.$valid && resetPasswordForm.txtEmail.$dirty}">
                <label for="txtEmail" class="control-label">Enter your email address and we'll get you back on track.</label>
                <input type="email" id="txtEmail" name="txtEmail"  data-ng-model="email" class="form-control" placeholder="email" required/>
                <p class="help-block" data-ng-show="resetPasswordForm.txtEmail.$error.required && resetPasswordForm.txtEmail.$dirty">Email is required.</p>
                <p class="help-block" ng-show="!resetPasswordForm.txtEmail.$error.required && resetPasswordForm.txtEmail.$error.email && resetPasswordForm.txtEmail.$dirty">Invalid Email</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" data-ng-disabled="resetPasswordForm.$invalid" id="resetPasswordBtn" class="btn btn-success btn-large" data-ng-click="sendMail()">REQUEST RESET LINK</button>
        </div>
     </form>
 </div>


