<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center"><a class="logo" title="" href="#/login">
                <img alt="" src="/images/logo-b.png" border="0"></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" ng-cloak>
                    <form accept-charset="UTF-8" role="form" id="updatePasswordForm" name="updatePasswordForm" novalidate>
                        <div class="form-group"
                             data-ng-class="{'has-error': updatePasswordForm.password.$invalid && updatePasswordForm.password.$dirty,'has-success': updatePasswordForm.password.$valid && updatePasswordForm.password.$dirty}">
                            <label for="password" class="control-label">Enter new password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   data-ng-model="user.password" placeholder="Password" required/>

                            <p class="help-block"
                               data-ng-show="updatePasswordForm.password.$error.required && updatePasswordForm.password.$dirty">
                                Password
                                is required.</p>
                        </div>

                        <div class="form-group" data-ng-class="{'has-error': updatePasswordForm.confirmPassword.$invalid && updatePasswordForm.confirmPassword.$dirty,'has-success': updatePasswordForm.confirmPassword.$valid && updatePasswordForm.confirmPassword.$dirty}">
                            <label for="password" class="control-label">Confirm password</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                                   data-ng-model="user.confirmPassword" placeholder="Confirm Password" required/>

                            <p class="help-block"
                               data-ng-show="updatePasswordForm.confirmPassword.$error.required && updatePasswordForm.confirmPassword.$dirty">Password is required and it should match.</p>
                        </div>
                        <div class="text-right">
                            <button type="submit" data-ng-disabled="updatePasswordForm.$invalid" id="submitButton"
                                    data-ng-click="updatePassword()" class="btn btn-primary">Update password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
