            <div class="form-group">
              <label class="col-sm-4 control-label" for="inputName">Name</label>
              <div class="col-sm-8">
              <input type="text" ng-model="credential.name" class="form-control" placeholder="" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="selectTimeofDay">Type</label>
              <div class="col-sm-8">
                <select ng-model="credential.type" ng-options="option.value as option.name for option in typeOptions" 
                ng-change="selChange()" class="form-control">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="inputAcessKeyId">Access Key ID</label>
            <div class="col-sm-8">
              <input type="text" data-ng-disabled="isAccessDisabled"  data-ng-model="credential.accessKey" class="form-control" placeholder="Access Key ID">
            </div>
          </div> 
          <div class="form-group">
            <label class="col-sm-4 control-label" for="inputSecretAcessKey">Secret Access Key</label>
            <div class="col-sm-8">
              <input type="text" data-ng-disabled="isAccessDisabled" data-ng-model="credential.secretKey"  class="form-control" placeholder="Secret Access Key">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="inputRegion">Region</label>
            <div class="col-sm-8">
              <select ng-model="credential.region" ng-options="option.value as option.name for option in regionOptions" 
                ng-change="selChange()" class="form-control">
              </select>
            </div>
          </div>          
          <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-8 text-right">         
              <a href="#/credentials" class="btn btn-default">Cancel</a>
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>       