<div class="container-fluid stack-subheader">
    <div class="row">
      <div class="col-sm-6 col-md-6">  
        <h1>Credentials</h1>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="stack-btn-panel text-right">
          <a href="#/credentials/create"class="btn btn-primary"><i class="fa fa-plus"></i> New Credentials</a>
        </div>
      </div>
    </div>
</div>

<div class="container stack-content">
  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="credential in credentials">
        <div class="panel panel-default"  ng-if="credential.name">
          <div class="panel-body">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h4>{{credential.name}}</h4>
            </div>
            <div class="pull-right text-right">
              <ul class="nav nav-pills">
                <li><a href="#/credentials/edit/{{credential.id}}"><i class="fa fa-pencil-square-o fa-lg"></i></a></li>
                <li><a ng-click="remove(credential)"><i class="fa fa-trash-o fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  


