<header class="navbar navbar-inverse navbar-fixed-top stack-nav" ng-if="showHeader">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8 col-md-8 col-sm-8">
        <div class="stack-brand"><a class="" href="#/dashboard"><img src="/images/actstack-logo-white.svg" widht="150"></a></div>
      </div>

      <div class="col-xs-4 col-md-4 col-sm-4">
        <div data-ng-show="logoutMessage" class="alert alert-warning ng-hide" role="alert">
				  You are successfully logged out
				</div>

        <div class="row">
          <div class="col-xs-10 col-md-10 col-sm-10 stack-navbar-user-data">
            <a href="#/dashboard">{{ user.email }}</a> 
          </div>
          <div class="col-xs-2 col-md-2 col-sm-2">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <span style="margin:0px 10px 0px 0px" class="dropdown" dropdown> 
                  <a href type="button"  class="dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-bars fa-lg"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#/dashboard"><i class="fa fa-tachometer"></i> Dasbhoard</a></li>
                    <li><a href="#/actions"><i class="fa fa-cogs"></i> Actions</a></li>
                    <li><a href="#/credentials"><i class="fa fa-key"></i> Credentials</a></li>
                    <li><a href="#/schedules"><i class="fa fa-clock-o"></i> Schedules</a></li>
                    <li><a href="#/settings"><i class="fa fa-user"></i> User Settings</a></li>   
                    <li class="divider"></li>
                    <li><a href="javascript:void 0" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li> 
                  </ul>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>  
</header>
